$background-color-light: #fffeff;
$background-color-dark: #1b1b1f;

$section-background-color-light: #f0f0f0;
$section-background-color-dark: #2b2b2b;

$accent-color-light: #677db7;
$accent-color-dark: #8294c4;
