:root,
[data-theme="light"] {
  /* Automatic & Manual Light Theme */
  --color: #012;
  --background-color: #e6e6e9;

  --nav-background-color: #fefdff;
  --nav-button-color: #012;
  --nav-button-background-color: #fefdff;
  --nav-button-hover-color: #012;
  --nav-button-hover-background-color: #ebebf3;
  --nav-button-accent-color: #ffffff;
  --nav-button-accent-background-color: #7272d6;
  --nav-button-accent-hover-color: #ffffff;
  --nav-button-accent-hover-background-color: #4a4ae0;
  --nav-button-accent-border-color: #43438b;

  --boxed-section-background-color: #fefdff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Automatic Dark Theme - Keep this in sync! */
    --color: #fffeff;
    --background-color: #1b1b1f;

    --nav-background-color: #323236;
    --nav-button-color: #fffeff;
    --nav-button-background-color: #323236;
    --nav-button-hover-color: #fffeff;
    --nav-button-hover-background-color: #45454b;
    --nav-button-accent-color: #fffeff;
    --nav-button-accent-background-color: #6262c4;
    --nav-button-accent-hover-color: #ffffff;
    --nav-button-accent-hover-background-color: #7070d8;
    --nav-button-accent-border-color: #43438b;

    --boxed-section-background-color: #323236;
  }
}

[data-theme="dark"] {
  /* Manual Dark Theme - Keep this in sync! */
  --color: #fffeff;
  --background-color: #1b1b1f;

  --nav-background-color: #323236;
  --nav-button-color: #fffeff;
  --nav-button-background-color: #323236;
  --nav-button-hover-color: #ffffff;
  --nav-button-hover-background-color: #242427;
  --nav-button-accent-color: #fffeff;
  --nav-button-accent-background-color: #6262c4;
  --nav-button-accent-hover-color: #ffffff;
  --nav-button-accent-hover-background-color: #43438b;
  --nav-button-accent-border-color: #43438b;

  --boxed-section-background-color: #323236;
}
